<!DOCTYPE html>
<html>
<head>
 <title>Facebook</title>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="static/css/new.css" media="screen"/>
</head> 
 <body>
 <div class=" header1">
 <div id="name" class="header1"><a href='homepage.html'>OLD MASTER</a></div>
 <div id="searcharea" class = "header1">
 <input placeholder = "search here...." type= "text" id="searchbox"/></div>
 <div id="profilearea" class="header1"><a href='profilepage.html'>Profile</a></div>
 <div id="profilearea1" class="header1">|</div>
 <div id="profilearea2" class="header1"><a href='homepage.html'>Home</a></div>
 </div>
 <div class="sidenav">
 <div class = "bodyn">
<div id="side1" class="bodyn"><a href='login.html'>Login</a></div>
<div id="side2" class="bodyn"><a href='profilepage.html'>Profile</a></div>
<div id="side3" class="bodyn"><a href='profilepage.html'>edit profile</a></div>
<div id="side4" class="bodyn"><a href='profilepage.html'>News feed</a></div>
<div id="side5" class="bodyn"><a href='profilepage.html'>Messages</a></div>
<div id="side6" class="bodyn"><a href='profilepage.html'>Events</a></div>
<div id="side7" class="bodyn"><a href='profilepage.html'>PAGES</a></div>
<div id="side8" class="bodyn"><a href='profilepage.html'>Pages feed</a></div>
<div id="side9" class="bodyn"><a href='profilepage.html'>Like pages</a></div>
<div id="side10" class="bodyn"><a href='profilepage.html'>Create page</a></div>
<div id="side11" class="bodyn"><a href='profilepage.html'>Create ad</a></div>
<div id="side12" class="bodyn"><a href='profilepage.html'>GROUPS</a></div>
<div id="side13" class="bodyn"><a href='profilepage.html'>New groups</a></div>
<div id="side14" class="bodyn"><a href='profilepage.html'>Create group</a></div>
<div id="side15" class="bodyn"><a href='profilepage.html'>APPS</a></div>
<div id="side16" class="bodyn"><a href='profilepage.html'>Games</a></div>
<div id="side17" class="bodyn"><a href='profilepage.html'>On this day</a></div>
<div id="side18" class="bodyn"><a href='profilepage.html'>Games feed</a></div>
<div id="side19" class="bodyn"><a href='profilepage.html'>FRIENDS</a></div>
<div id="side20" class="bodyn"><a href='profilepage.html'>Close friends</a></div>
<div id="side21" class="bodyn"><a href='profilepage.html'>Family</a></div>
<div id="side22" class="bodyn"><a href='profilepage.html'>INTERESTS</a></div>
<div id="side23" class="bodyn"><a href='cards.html'>Pages and public</a></div>
<div id="side24" class="bodyn"><a href='profilepage.html'>EVENTS</a></div>
<div id="side25" class="bodyn"><a href='profilepage.html'>Create event</a></div>
</div>
</div>
<div class="post00">

</div>
<div class="post10">
</div>



<div class="header0001">
</div>
<div class="sideboxxx">
</div>
<div class="sideboxxxx2">
</div>
<div class="post">
<div id="column-1" class="post">update status | add photos/videos | create photo album<hr><br><br><br><br><br><br><hr></div>
<div id="postpos" class="post"><input type="submit" id="buttonpost" value="post"/></div>
<div id="postboxpos" class="post"><textarea placeholder="What's in your mind" id="postbox" ></textarea></div>
</div>
<div class="post1"><img src="static/img/mini1.png" alt="image is here" height ="40" width ="40"/><br><img src="static/img/mini.png" alt="image is here" height="400" width="575"/><br><br><p6>Like  Comment  Share</p6><br><hr><p1>Amit Deb</p1><p2> and</p2><p1> 5 others</p1><p2> like this</p2>
<div id="post2text" class="post1"><p3>Rani Mukharji </p3><p2>with </p2><p1> Arup Pegu</p1><p2> and</p2><p1> 15 others.</p1><br><p4>4 hrs.</p4></div>
<div id="commentprof2" class="post1"><img src="static/img/mini1.png" alt="image is here" height ="25" width ="25" id="profpic"/></div>
<div id="commentboxpos2" class="post1"><input type="text" placeholder="comment" id="commentbox"/></div>
</div>
<div class="sidebox">
<div id="sidebox1" class="sidebox">
<div id="sideboxx1">YOUR PAGES</div><hr><br><br>See all<hr>
<div id="sideboxx2">This Week</div><br><br>See more<hr>
<div id="sideboxx3">Recent Posts</div><br><br>See more<hr>
<div id="sideboxx4">You haven't posted in this days</div><br><br><br>See all
</div>

<div id="post1pos" class="sidebox"><input type="submit" id="buttonpost1" value="write a post"/></div>
</div>
<div class="sideboxxx2">
<div id="sidebox2" class="sideboxxx2">
<hr>
<div id="sideboxx21">Trending</div>
<br><br><br>See more<hr>
<div id="sideboxx22">Suggested Pages</div><br><br><br>See all<hr>
<div id="sideboxx23">People you may know</div><br><br><br><br>See all
</div>
</div>
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 
  </body>
  
</html> 

 </body>
 </html>
 
